<header class="c-page__header">
    <h1 style="font-family:'Lovelo Line', 'Monoid'; font-size: 2.0rem; font-weight: bold;">{{ site.title}}</h1>

    {% if page.title == 'Home' %}
        <h1>{{ site.description }}</h1>
    {% endif %}
    <p>
        <a href="{{ "/archive/" | prepend: site.baseurl }}">Home</a><span class="u-separate"></span>
        <a href="{{ "/" | prepend: site.baseurl }}">About</a>
        <!--<a href="{{ "/resume/" | prepend: site.baseurl }}">Resume</a><span class="u-separate"></span> -->
        <!-- <a href="{{ "/projects/" | prepend: site.baseurl }}">Projects</a><span class="u-separate"></span>  -->
        
    </p>
</header>
